.bold {
	font-weight: bold;
}

/* Menu */
.menu {
	background-color: lightgray;
	border-radius: 6px;
	border: solid 1px grey;
	margin-bottom: 20px;
	min-height: 20px;
	position: relative;
}
	.menu .menu__user-logged,
	.menu__user-logout {
		float: left;
		margin: 0 10px 0 10px;
	}