.publication {
	border-top-width: 4px;
	border: solid 1px black;
	width: 300px;
	border-radius: 5px;
	padding-top: 4px;
	margin-bottom: 10px;
}
	.publication .publication__title {
		padding-left: 2px;
	}
	.publication .publication__body {
		background-color: lightblue;
		min-height: 32px;
		margin-bottom: 0px;
		padding: 4px;
	}

	.publication .publication__date {
		font-size: 9px;
		font-style: italic;
		float: right;
		color: lightslategrey;
	}